<h1>ホーム</h1>

<% @tweets.each do |tweet| %>
  <hr>
  <p><%= link_to tweet.user.email, user_path(tweet.user.id) %>→後ほどユーザー名表示に変更</p>
  <p><%= link_to tweet.content, tweet_path(tweet.id) %></p>
<% end %>